html,
body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
}

.calculator {
  --padding: 20px;
  width: clamp(300px - 2 * var(--padding), 50vw, 500px - 2 * var(--padding));
  height: 500px;
  background-color: white;
  border-radius: 5px;
  padding: var(--padding);
  display: grid;
  grid-template: auto 1fr / 1fr;
  color: #242424;
}

.calculator .display {
  height: 80px;
  border-radius: 5px;
  background-color: #2c2c2c;
  font-family: monospace;
  font-size: xx-large;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
}

.calculator .keys {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  place-items: center;
}

.key.double {
  grid-column: span 2;
  width: calc(2 * var(--key-size)) !important;
}
.key.operator {
  --bg: #afbcf5;
  --bg-selected: #dbe2ff;
}
.key.control {
  --bg: #f5f5f5;
  --bg-selected: #ffffff;
}

.key:focus {
  background-color: var(--bg-selected, #f5f5f5) !important;
}
.calculator .keys .key {
  --key-size: 60px;
  width: var(--key-size);
  height: var(--key-size);
  border: none;
  display: grid;
  place-items: center;
  font-family: monospace;
  font-size: x-large;
  border-radius: calc(var(--key-size) / 2);
  padding: 0;
  transition: 200ms;
  background-color: var(--bg, white);
  outline: none;
  font-weight: bold;
}
